<?xml version="1.0"?>
<launch>
    <!-- nodelet_manager -->
    <arg name="manager_name" default="nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen" >
        <param name="num_worker_threads" value="8" />
    </node>

<!--    &lt;!&ndash; galaxy_camera &ndash;&gt;-->
<!--    <node pkg="nodelet" type="nodelet" name="galaxy_camera"-->
<!--          args="load galaxy_camera/galaxy_camera_nodelet $(arg manager_name)"-->
<!--          output="screen">-->
<!--        &lt;!&ndash;     <param name="camera_SN" value="KE0200060392" /> &ndash;&gt;-->
<!--    </node>-->

    <!-- hk_camera -->
    <node pkg="nodelet" type="nodelet" name="hk_camera"
          args="load hk_camera/HKCameraNodelet $(arg manager_name)"
          output="screen">
        <param name="camera_name" value="camera"/>
        <param name="image_width" value="1440"/>
        <param name="image_height" value="1080"/>
        <param name="pixel_format" value="bgr8"/>
        <param name="camera_info_url" value=""/>
        <param name="camera_frame_id" value="camera_optical_frame"/>
        <param name="camera_sn" value="00J67375789"/>
        <param name="frame_rate" value="160"/>
    </node>

    <!-- face_detection -->
    <node pkg="nodelet" type="nodelet" name="face_detection"
          args="load face_detection/FaceDetection $(arg manager_name)"
          output="screen">
    </node>
</launch>